# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Output files
keylog.txt
screenshot*.png
screenshots/
dropper_package/
stealth_dropper/
windows_payload.*
linux_payload.sh
payload_image.png

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
desktop.ini

# Certs
*.pem
*.key
